@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

:root {
    --main-black: rgb(20, 20, 20);
    --bg-grey:rgb(224, 221, 230);
    --theme-red:rgb(150, 29, 23);
    --theme-red-hover:rgb(130,19,13);
}

*,
*:before,   
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-weight:100;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
body
{
    background-color: var(--bg-grey);
}
.nav-header {
    position: relative;
    width: 100%;
    background: var(--main-black);
    height: 50px;
    line-height: 50px;
    box-shadow: 0 -3px 0 var(--main-black);
}

.nav-wrap {
    max-width: 960px;
    /* Changge this with your max-width size */
    margin: 0 auto;
}

.logo {
    font-family: inherit;
    font-size: 1.8em;
    margin-left: 0.2em;
}

.logo a {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.logo a:hover {
    opacity: 0.85;
}

/* Mobile menu */
#menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    padding: 0 0.4em;
}

#menu-icon:hover {
    opacity: 0.85;
    text-decoration: none;
    border: none;
}

.navbar {
    background-color:var(--main-black);
    float: none;
    max-height: 0;
    overflow: hidden;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    -webkit-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

.navbar .menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar .menu li {
    list-style-type: none;
    display: block;
}

.navbar .menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 0.8em;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-bottom: 1px solid var(--main-black);
}

.navbar .menu li a:hover {
    background-color: #726767;
}

.navbar .menu li a.active {
    background-color: #726767;
}

.expand {
    max-height: 20em;
}

@media only screen and (min-width: 768px) {
    .wrap {
        padding-left: 1em;
        padding-right: 1em;
    }

    .logo {
        margin-left: 10px;
    }

    .logo,
    .navbar {
        display: inline-block;
    }

    /* Mobile menu icon */
    #menu-icon {
        display: none;
    }

    .navbar {
        float: right;
        max-height: none;
    }

    .navbar .menu {
        box-shadow: 0 -3px 0 var(--main-black) inset;
    }

    .navbar .menu li {
        list-style-type: none;
        display: inline-block;
        text-align: center;
    }

    .navbar .menu li a {
        display: block;
        border-bottom: 0;
    }

    .navbar .menu li a:hover {
        box-shadow: 0 -3px 0 var(--main-black) inset;
    }

    .navbar .menu li a.active {
        box-shadow: 0 -3px 0 var(--main-black) inset;
    }
}

/*=============== Sections====================*/
section
{
    display:flex;
    flex-direction: row;
}
.section-one-one
{
    top:0;
    left:0;
    width:50vw;
    height:90vh;
    text-align: left;
}
.hero
{
    margin: 20% auto 0 auto;
    margin-left: 20%;
    font-size:4.5em;
    font-weight: 150;
}
.section-one-two
{
    top:0;
    right:0;
    width:50vw;
    height:90vh;
}
.section-one-two img
{
    width:90%;
    height:90%;
}
.call_to_action
{
    color:white;
    font-size: 1.2em;
    margin: 20px auto 10px 30%;
    width:18vw;
    height:40px;
    background-color:var(--theme-red);
    opacity:0.8;
    border-radius: 12px;
    border:0;
    box-shadow: 8px 2px 7px -5px rgba(0,0,0,0.35);
    outline:none;
    transition:0.5s;
}
.call_to_action:hover
{
    background-color:var(--theme-red-hover);
    box-shadow: 8px 2px 11px -8px rgba(0,0,0,0.75);
    transform: translate(0,2px);
}
.inquire_more
{
    font-size:1.2em;
    background-color:rgba(240,240,240,0.5);
    margin:0 auto 10px 30%;
    width:18vw;
    height:40px;
    border-radius: 12px;
    opacity:0.9;
    border:0;
    box-shadow: 8px 2px 7px -5px rgba(0,0,0,0.35);
    outline:none;
    transition:0.5s;
}
.inquire_more:hover
{
    background-color:rgba(200,200,200,0.35);
    box-shadow: 8px 2px 11px -8px rgba(0,0,0,0.75);
    transform: translate(0,2px);
}
/*============ Responsives ===============================*/
@media(max-width:768px)
{
    .logo
    {
        font-size: 1em;
        font-weight:50;
    }
    .section-one-one
    {
        width:100vw;
        height:50vh;
        font-size:0.95em;
        padding:10px;
        word-wrap: break-word;
    }
    .section-one-two
    {
        display:none;
    }
    .hero
    {
        margin-left:2px;
    }
    
    .call_to_action
    {
        margin: 0 20vw 10px 5vw;
        width:60vw;
    }
    .inquire_more
    {
        margin: 0 20vw 10px 5vw;
        width:60vw;
    }
}